{% extends 'Accounts/main.html' %}
{% block content %}
{% include 'Accounts/status.html' %}

<h3>User Profile</h3>
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Date Order</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
                {% for order in orders %}
                <tr>
                    <td>{{ order.products }} </td>
                    <td>{{ order.products.category }} </td>
                    <td>{{ order.date_created }} </td>
                    <td>{{ order.status }} </td>
                    <td><a class="btn btn-sm btn-primary" href="{% url 'updateOrder' order.id %}">Update</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'deleteOrder' order.id %}">Remove</a></td>
                </tr>
                {% endfor %}
            </table> 
        </div>
    </div>
</div>

{% endblock %}